@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500&display=swap');
@import url('classes/buttuns.css');
@import url('classes/navbar.css');
@import url('classes/grid.css');
@import url('classes/card.css');
@import url('classes/modal.css');
@import url('classes/crew.css');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Oxanium', cursive;
}

#rocket-img-div {
    top: 90px;
}

#rocket-img {
    height: calc(100vh - 80px);
    width: 100%;
    object-fit: cover;
}

body {
    background-image: url("space.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #5F4B8B;
}

@media only screen and (hover: none) and (pointer: coarse){

    body {
        background-size: 100vw 100vh;
    }
}

h2 {
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
}

h3 {
    margin: 0;
    color: rgb(70, 70, 70);
    text-align: center;
}