.grid {
    padding: 1rem;
    display: grid;
    margin: 3rem auto;
    max-width: 1600px;
    width: fit-content;
    justify-content: space-between;
    max-height: calc(100vh - 180px);
    gap: 2rem;
    overflow: scroll;
    box-shadow: 0 0 5px white;
    background: rgba(255, 255, 255, 0.158);
    border-radius: 15px;
}

@media (min-width: 800px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1600px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}